<div id="footer-sec" class="hidden-xs">
  <div class="container clearfix">
    <div class="hidden-sm">

    {{ block_show('graceful:bottom_info') }}

    </div>

    <div class="copyright">
          {% if setting('site.logo') %}
                <a  class="site-footer-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
          {% else %}
                <a class="site-footer-logo" href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
          {% endif %}
          <p>{% include "TopxiaWebBundle::powered-by.html.twig" %} </p>
    </div>
    <div class="footer-container">
      {{ render(controller('TopxiaWebBundle:Default:footNavigation')) }}
      <p>
      <a href="{{ path('course_archive') }}">课程存档</a>
      {% if setting('site.copyright') %}
        课程内容版权均归<a href="/">{{ setting('site.copyright') }}</a>所有
      {% endif %}
      &nbsp;
      {% if setting('site.icp') %}
        <a href="http://www.miibeian.gov.cn/" target="_blank">{{ setting('site.icp') }}</a>
      {% endif %}</p>
      {{ setting('site.analytics')|raw }}
    </div>
  </div>

</div>