{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{# 话题 #}
<div class="es-box group">
  <h2>{{ config.title|default(config.defaultTitle) }}</h2><a href="{{path('group')}}" class="more">更多&gt;</a>
    {% set threads = data('HotThreads',{'count':config.count}) %}
    {% if threads %}
    <ul>
      {% for thread in threads %}
        {% if thread %}
          <li>
            <div>
              {% set user = thread.user %}        
              {{ lazy_img(filepath(thread.user.mediumAvatar, 'avatar.png'), 'pull-left', '') }}        
              <h3>
                <a href="{{path('group_thread_show',{id:thread.groupId,threadId:thread.id})}}">{{ thread.title|plain_text(28) }}</a>
              </h3>
              {% if isHide(thread.id) %}
                此话题为作者发布的隐藏话题
              {% else %}
              {{thread.content|raw|plain_text(35)}}
              {% endif %}
              <p>
                <span>{{ web_macro.user_link(user, 'text-muted') }}</span> 
                {{ thread.createdTime|smart_time }}&nbsp;
                {% if thread.lastPostMember|default("") %}
                <span>{{ web_macro.user_link(thread.lastPostMember, 'text-muted') }}  </span>
                {{ thread.lastPostTime|smart_time }}回复
                {% endif %}
              
                <span class="pull-right"><a href="{{path('group_show',{id:thread.groupId})}}">{{ thread.group.title|sub_text(8) }}</a></span>
              </p>
              <span class="postnum">{{ thread.postNum }}</span>
            </div>
         </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
            <div class="empty">还没有话题</div>
    {% endif %}
</div>
