{# 咨讯 #}
{% set count = config.count %}
<div class="es-box news">
  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% set articles = data('LatestArticles',{'count':count, 'type':config.sort_type}) %}
  {% if articles %}
  <ul class="row">
  {% for article in articles %}
  {% if article %}
    <li class="col-md-6">
      <em>{{ article.publishedTime|date('m-d H:i') }} </em>
      <a href="{{ path('article_detail', {id:article.id}) }}"> {% if article.categoryId %}<span>[{{ article.category.name }}]</span>{% endif %}{{ article.title }} </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
  {% else %}
    <div class="empty">还没有资讯</div>
  {% endif %}
  <a class="more" href="{{ path('article_show') }}">更多&gt;</a>
</div>