{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!--  teacher -->
<div class="es-box teachers">
  
      <h2>{{ config.title|default(config.defaultTitle) }}</h2>
      {% set teachers = data('RecommendTeachers',{'count':config.count}) %}
      {% if teachers %}
        <ul class="row">
          {% for teacher in teachers %}
            {% if teacher %} 
              <li class="col-xs-6  col-sm-6 col-md-4">
                <div class="teachers-item">
                  {# <a href="{{ path('user_show', {id:teacher.id}) }}">
                    {{ lazy_img(filepath(teacher.mediumAvatar, 'avatar.png'), 'img-circle') }}
                  </a> #}
                  <a href="{{ path('user_show', {id:teacher.id}) }}" class="js-user-card" data-card-url="{{ path('user_card_show', {userId:teacher.id}) }}" data-user-id="{{ teacher.id }}" >{{ lazy_img(filepath(teacher.mediumAvatar, 'avatar.png'), 'img-circle') }}</a>
           
                    <span>{{ web_macro.user_link(teacher) }}</span>
                      <i> {{ teacher.title }}</i>
                      <p> {{ teacher.about|plain_text(30) }}</p>
                   </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
            <div class="empty">尚未设置推荐老师，请在管理后台设置。</div>
      {% endif %}
        <a class="more" href="{{ path('teacher') }}">更多&gt;</a>
</div>