{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{# 公开课　 #}
<div class="es-box es-course">  
  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% set courses = data('OpenCourses',{'count':config.count|default(3), 'orderBy':config.sort_type|default('latest')}) %}

  {% if courses %}
    <ul class="row">
      {% for course in courses if course %}
        {% set lessons = data('OpenCourseLessons',{courseId:course.id,count:1}) %}
        {% set teacher = course.teachers|first|default(null) %}
        
        <li class="col-xs-6 col-sm-6 col-md-4 es-course-list">
          <div>
            <div class="course-top">
              <a href="{{ path('open_course_show', {courseId:course.id}) }}">
                {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive thumb', '') }}
              </a>
              {% if course.type == 'liveOpen' %}
                <span>直播:  {{ lessons[0].startTime|date('n月j日 H:i') }} </span>
              {% endif %}
            </div>

            <div class="course-bottom">
              <h3>{{ course.title }}</h3>

              <span class="nickname clearfix">
                {% if teacher %}
                  {{ web_macro.user_link(teacher, 'text-muted') }}
                {% else %}
                  <a>&nbsp;</a>
                {% endif %}
              </span>
            </div>
   
            <div class="mask">
              <a href="{{ path('open_course_show',{courseId:course.id}) }}">
                
                {% if teacher %}
                  <div class="teacher-info clearfix">
                    <img src="{{ filepath(teacher.smallAvatar, 'avatar.png') }}" class="img-circle pull-left" />
                    
                    <span>{{ teacher.nickname }}</span>
                    <span>{{ teacher.title|plain_text(10) }}</span>
                  </div>
                  <p>{{ teacher.about|default('')|plain_text(50) }}</p>
                {% endif %}
                <div class="title clearfix">
                  <span class="iconfont icon-jiantou pull-right"></span>
                  <h3>{{ course.title|plain_text(8) }}</h3>
                </div>
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="empty">还没有公开课</div>
  {% endif %}

  <a class="more" href="{{ path('open_course_explore') }}">更多&gt;</a>
</div>
