{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="es-box es-course">

  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% set count = config.count %}
  {% set items = data('RecommendClassrooms',{'count':count}) %}
  {% if items %}
  {% set mode = mode|default('default') %}
    <ul class="home-class-list clearfix">
    {% for classroom in items %}
      <li class="class-item">
        <div class="mask-wrap">
          <a class="class-picture-link" href="{{ path('classroom_show', {id:classroom.id}) }}">
            {{ lazy_img(filepath(classroom.largePicture, 'classroom.png'), '', classroom.title, 'lazyload_class.png') }}
          </a>
          <div class="class-body">
            <h3 class="class-title">
              {{ classroom.title }}
            </h3>

            <div class="class-metas">
              <span class="class-teacher">
                <i class="fa fa-user"></i>
              {% set teachers = classroom.users|default(null) %}
              {% if teachers %}
              {% for teacher in teachers %}
                {% if loop.index <= 3%}
                <span>{{ teacher.nickname|default('') }}</span>
                 {% endif %}
              {% endfor %}
              
              {% endif %}
              </span>
              <span class="class-student"><i class="fa fa-users"></i>{{classroom.studentNum + classroom.auditorNum }}</span>
              <span class="class-price">
                {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
                    {% if classroom.price > 0 %}
                     {{classroom.price * setting('coin.cash_rate') }} {{setting('coin.coin_name')}}
                    {% else %}
                      免费
                    {% endif %}
                {% else %}
                    {% if classroom.price > 0 %}
                      {{ classroom.price }}元
                    {% else %}
                      免费
                    {% endif %}
                {% endif %}
                </span>
            </div>

            <div class="course-num">共{{classroom.lessonNum}}课</div>
            
          </div>
          <div class="mask">
            <a href="{{ path('classroom_show', {id:classroom.id}) }}">
              <div class="class-about">
                简介：<br>
                {{ classroom.about|plain_text(100) }}
              </div>
              <span class="iconfont icon-jiantou"></span>
            </a>
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
    <a class="more" href="{{ path('classroom_explore') }}">更多&gt;</a>
  {% else %}
    <div class="empty">还没有发布的{{ setting('classroom.name')|default("班级") }}</div>
  {% endif %}
</div>
