<div id="footer-fir" class="hidden-xs">
  <div class="container clearfix">

    {% if setting('site.logo') %}
      <a class="pull-left" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
    {% else %} 
      <a class="pul-left site-footer-logo" href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
    {% endif %} 

    <div class="pull-right">
      {{ render(controller('TopxiaWebBundle:Default:footNavigation')) }}
         
      <p>
        <a href="{{ path('course_archive') }}">课程存档</a>
        {% if setting('site.copyright') %}
          课程内容版权均归<a href="/">{{ setting('site.copyright') }}</a>所有
        {% endif %}
        &nbsp;
        {% if setting('site.icp') %}
          <a href="http://www.miibeian.gov.cn/" target="_blank">{{ setting('site.icp') }}</a>
        {% endif %}
      </p>
      <p class="edusoho">  {% include "TopxiaWebBundle::powered-by.html.twig" %}</p>
      {{ setting('site.analytics')|raw }}

    </div>

  </div>
</div>
