<div class="es-box the-vip-content">
  <h2>{{ config.title|default(config.defaultTitle) }}</h2>
  {% if setting('vip.enabled') %}
    <ul class="clearfix">
    {% set levels = data('VipLevels',{'count':100}) %}
   	{% if levels %}
      {% for level in levels %}
    	<li class="row">
    	<a href="{{ path('vip') }}">
    		<div class="col-sm-3 col-md-3">
    			<img class="img-responsive" src="{{ level.icon|default(asset('assets/img/default/vip-default.png')) }}" alt="{{ level.name }}">
    		</div>
    		<div class="col-sm-6 col-md-6">
    			<h3>{{ level.name }}</h3>
    			<p>{{ level.description|plain_text(68) }}</p>
    		</div>
    		<div class="col-sm-3 col-md-3">
    			<span>查看详情</span>
    		</div>
    	</a>
    	</li>
    	{% endfor %}
    	{% else %}
  	    <div class="empty">还没有设置会员</div>
    	{% endif %}
    </ul>
  {% else %}
    <div class="empty">还没有安装会员插件</div>
  {% endif %}
   <a class="more" href="{{ path('vip') }}">更多&gt;</a>
  
</div>